<%= form_tag('/search') do%>
  <div>
    <%= text_field_tag 'phrase', params[:phrase]%>
  </div>
  <div>
    <%= select_tag "credit_card",options_for_select([ "zim", "people" ], "zim")%>    
  </div>
  <div>
    <%= submit_tag "Search"%>  
  </div>
<% end %>


